.App{
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.status {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white; 
}

.connected {
  background-color: green;
}

.disconnected {
  background-color: red;
}


.contact-info p {
  font-weight: bold;
}

body {
  padding: 50px;
}
